<h1 class="text-center">SECCION EN DESARROLLO</h1>
<H2 class="text-center">DISCULPE LAS MOLESTIAS</H2>

<div class="container text-center">
    <img src="https://img.freepik.com/vector-gratis/personajes-creativos-poniendo-bombillas-ideas-cabeza-enorme_74855-19748.jpg" alt="En desarrollo" class="img-fluid">
</div>