<hr>
<div class="card mb-5 col-md-6 offset-md-3">
    <hr>
        <div class="card-header titles-log-reg text-center text-white">
            <h4>RESTABLECIMIENTO DE CONTRASEÑA</h4>
        </div>
        <div class="card-body">
            <form id="forgetPasswordForm" method="POST">
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="e-mail"
                        required
                    />
                </div>
                <button
                    type="button"
                    class="btn btn-success form-control fw-bold"
                    id="forgetPassBtn"
                    >Restablecer contraseña</button>
            </form> 
                <div class="dropdown-divider"></div>
                <div class="mb-3 d-flex justify-content-between">
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-sm form-control fw-bold m-1"
                        id="registerButton"
                    >Registrarse</button>
                    <button
                        type="button"
                        class="btn btn-outline-dark btn-sm form-control fw-bold m-1"
                        id="loginButton"
                    >Iniciar Sesión</button>
                </div>
        </div>
</div>            