<hr>
<div class="card mb-5 col-md-6 offset-md-3">
    <hr>
        <div class="card-header titles-log-reg text-center text-white">
            <h4>RESTABLECIMIENTO DE CONTRASEÑA</h4>
        </div>
        <div class="card-body">
            <form id="forgetPasswordForm" method="POST">
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="e-mail"
                        required
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-success form-control fw-bold"
                    id="forgetPassBtn"
                    >Restablecer contraseña</button>
            </form> 
                <div class="dropdown-divider"></div>
                <div class="mb-3 d-flex justify-content-between">
                    <a
                        href="/api/sessions/login"
                        class="btn btn-outline-dark btn-sm form-control fw-bold m-1"
                    >Registrarse</a>
                    <a
                        href="/api/sessions/login"
                        class="btn btn-outline-dark btn-sm form-control fw-bold m-1"
                    >Iniciar Sesión</a>
                </div>
        </div>
</div>
<script src="/forgetPass.js"></script>           