<div class="row"><div class="col-md-3"><br /><a
            class="no-underline"
            href="/detalle/7G59iCj2JRZOJUf07FQJ"
        ><div class="card mb-3 shadow-sm" category="Selecciones" stock="10"><img
                    class="card-img-top"
                    src="https://i.ibb.co/BcpkWsx/alemania-alt-22.webp"
                    alt="Alemania"
                /><div class="card-body"><h4
                        class="card-title text-black"
                    >Alemania</h4><p class="card-text text-black">Alternativa
                        2022</p><button
                        type="button"
                        class="btn btn-info btn-light"
                    >Detalles</button><div><span
                            class="price text-black"
                        >$14999</span></div></div></div></a></div><div
        class="col-md-3"
    ><br /><a class="no-underline" href="/detalle/pgsKjZWIvjAUTdaufvbm"><div
                class="card mb-3 shadow-sm"
                category="Selecciones"
                stock="5"
            ><img
                    class="card-img-top"
                    src="https://i.ibb.co/54TpBzr/uruguay-tit-21.webp"
                    alt="Uruguay"
                /><div class="card-body"><h4
                        class="card-title text-black"
                    >Uruguay</h4><p class="card-text text-black">Titular 2021</p><button
                        type="button"
                        class="btn btn-info btn-light"
                    >Detalles</button><div><span
                            class="price text-black"
                        >$10999</span></div></div></div></a></div><div
        class="col-md-3"
    ><br /><a class="no-underline" href="/detalle/xZN3s2hcjEmf0S6rKJNC"><div
                class="card mb-3 shadow-sm"
                category="Selecciones"
                stock="5"
                offer="20"
            ><img
                    class="card-img-top"
                    src="https://i.ibb.co/4tSSvNh/colombia-tit-22.jpg"
                    alt="Colombia"
                /><div class="card-body"><h4
                        class="card-title text-black"
                    >Colombia</h4><p class="card-text text-black">Titular 2022</p><button
                        type="button"
                        class="btn btn-info btn-light"
                    >Detalles</button><div><span
                            class="price text-black"
                        >$13999</span></div></div></div></a></div><div
        class="col-md-3"
    ><br /><a class="no-underline" href="/detalle/yYBEfj5K1BdZEl5dWL4N"><div
                class="card mb-3 shadow-sm"
                category="Selecciones"
                stock="60"
            ><img
                    class="card-img-top"
                    src="https://i.ibb.co/88XV0cw/argentina-tit-22.jpg"
                    alt="Argentina"
                /><div class="card-body"><h4
                        class="card-title text-black"
                    >Argentina</h4><p class="card-text text-black">Titular 2022</p><button
                        type="button"
                        class="btn btn-info btn-light"
                    >Detalles</button><div><span
                            class="price text-black"
                        >$15999</span></div></div></div></a></div></div>