<hr>
<div class="card-pass mb-5 col-md-6 offset-md-3">
    <hr>
        <div class="card-header titles-log-reg text-center text-white">
            <h4>RESTABLECIMIENTO DE CONTRASEÑA</h4>
        </div>
        <div class="text-center fw-bold mb-3">
            <hr>
            <h3>{{user}}</h3>
            <h5 class="mb-0">Ingrese su nueva contraseña</h5>
        </div>
        <div class="card-body">
            <form id="resetPasswordForm" method="POST">
                <input type="hidden" name="userName" id="userName" value="{{user}}">
                <div class="mb-3">
                    <input
                        type="password"
                        class="form-control"
                        name="newPassword"
                        id="newPassword"
                        placeholder="Nueva Contraseña"
                        required
                    />
                </div>
                <button
                    type="submit"
                    class="btn btn-success form-control fw-bold"
                    >Crear nueva contraseña</button>
            </form> 
                <div class="dropdown-divider"></div>
                <div class="mb-3 d-flex justify-content-between">
                    <a
                        href="/api/sessions/login"
                        class="btn btn-dark btn-sm form-control fw-bold m-1"
                    >Registrarse</a>
                    <a
                        href="/api/sessions/login"
                        class="btn btn-dark btn-sm form-control fw-bold m-1"
                    >Iniciar Sesión</a>
                </div>
        </div>
</div>
<script src="/resetPass.js"></script>   